html, body {
  height:100%;
  font: 16px/23px "Bookman",serif;
}

.pure-g [class*="pure-u"] {
  font: 16px/23px "Bookman",serif;
} 

#wrapper {
  width: 775px;
  margin: auto;
  height: 100%;
}

h1,h2,h3 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
/*  font-family: Georgia,"Times New Roman",Times,serif;*/
  
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}


p {
  font: 16px/23px "Bookman",serif;
  text-align: justify;
/*    font-size: 0.9em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
   font-family: Georgia,"Times New Roman",Times,serif; */
}

p.meta {
  font-size: 0.8em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #aaa; 
}

pre {
  background-color: aliceblue;
  padding: 5px;
}

code {
    font-size: 0.9em;
}

#header  {
  margin-bottom:60px;
}

#header a {
  text-decoration:none;
}

#header a:hover {
  color:black;
}

#header a:visited {
  color:black;
}


#header > .title {
  text-align: center;
  background-color: coral;  
  width: 40%;
  color:black;
}


#header > .title h1 {
  text-shadow: -1px 1px 0px #FFF;
  font-family: monospace,serif;
  font-size: 1em;
  font-weight: normal;
}

#header > .links {
  text-align: right;
  font-family: monospace,serif;
  font-size: 0.8em;
  font-weight: normal;
}

#footer  {
  text-align:center;
}
.content_links ul {
  list-style: none outside none;
}
.content ul {
  border:none;
}

/* POST */
.post {
  border-bottom:1px dotted grey;
  margin-bottom:20px;
}

.post_header > h1 {
  margin: 10px 0px 10px 0px;
}
.post_date {
  color:grey;
  text-transform: uppercase;
  font-family: arial,sans-serif;
  font-size: 0.9em;
  font-weight:normal;

}

.post_link {
  color: blue;
  font: 16px/23px "Bookman",serif;
  text-align:center;
  
}

/*#footer {
  margin: auto;
  background-color: #ddd;
  width:960px;
  color:white;
  text-align: center;
}

#footer  a {
  text-decoration:none;
  color:white;
}*/

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  
  font-size: 0.9em;
  quotes: "\201C""\201D""\2018""\2019";

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote p {
  display: inline;
}