---
layout: default
title: Archive
permalink: /archive/
---

{% for post in site.posts %}
  <div class="container offset-by-one">
    <div class="two columns alpha post_date">
      {{ post.date | date: "%b %-d, %Y" }}
    </div>
    <div class="five columns post_link"> 
      <a class="post_link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      {% for category in post.categories %}
        <span class="category_label">{{ category }}</span>
      {% endfor %}
    </div>
    <div class="one column omega categories">
      
    </div>
  </div>
{% endfor %}
