<div id="header">
  <div class="title">
    <a class="site-title" href="{{ site.baseurl }}/"><strong>jmrepetti</strong>, web developer.</a>
  </div>
  <div class="links">
      <ul>
        <li>
          <a class="contact_link" href="mailto:{{ site.email }}">
            <img src="/img/glyphicons_419_e-mail.png"/>
          </a>
        </li>
        <li>
          <a class="contact_link" href="{{ site.twitter }}/">
            <img src="/img/glyphicons_411_twitter.png"/>
          </a>
        </li>
        <li>
          <a class="contact_link" href="{{ site.github }}/">
            <img src="/img/glyphicons_401_github.png"/>
          </a>
        </li>


        <li>
          <a class="contact_link" href="{{ site.instagram }}/">
            <img src="/img/glyphicons_412_instagram.png"/>
          </a>
        </li>
        
        
        
      </ul>
  </div>

  
</div>

