<div id="header" class="pure-g">
  <div class="title pure-u-2-5">
    <h1><a class="site-title" href="{{ site.baseurl }}/"><strong>jmrepetti</strong>, web developer.</a></h1>
  </div>
  <div class="links pure-u-3-5">
    <div class="menu pure-menu pure-menu-open pure-menu-horizontal">
      <ul>
        <li>
          <a class="site-title" href="mailto:{{ site.email }}">
            <img src="/img/glyphicons_419_e-mail.png"/>
          </a>
        </li>
        <li>
          <a class="site-title" href="{{ site.twitter }}/">
            <img src="/img/glyphicons_411_twitter.png"/>
          </a>
        </li>
        <li>
          <a class="site-title" href="{{ site.github }}/">
            <img src="/img/glyphicons_401_github.png"/>
          </a>
        </li>


        <li>
          <a class="site-title" href="{{ site.instagram }}/">
            <img src="/img/glyphicons_412_instagram.png"/>
          </a>
        </li>
        
        
        
      </ul>
    </div>
    
  </div>

  
</div>

