<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>~jmrepetti</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

      	<link rel="shortcut icon" href="images/favicon.ico">
      
        <link rel="author" href="humans.txt" />
        
        <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>        
        <link href='http://fonts.googleapis.com/css?family=Roboto:300,100' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/stylesheets/skeleton.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script src="/javascript/main.js"></script>
    </head>
    
    <body>      
      
    	<div id="wrapper" class="container">
      
      	<div id="header" class="container">
        	<div id="contact" class="container">
              <ul class="menu">
                <li><a class="contact" href="http://github.com/jmrepetti">g</a></li>              
                <li><a class="contact" href="mailto:jmrepetti@gmail.com">@</a></li>              
                <li><a class="contact" href="http://twitter.com/jmrepetti">t</a></li>
              </ul>            
          </div>                  
        </div>
        <div id="middle">
          <div id="location_date">
            <a href="#location" id="location">Berlin</a>, <a href="#date" id="date">javascript is disabled :(</a>
          </div>
          <div class="sixteen columns alpha" id="categories">
              <ul class="menu">
                <li>starting from scratch</li>
              </ul>
          </div>
        </div>

      </div>
    </body>
</html>


