<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="wrapper" class="pure-g">
      {% include header.html %}

      
        {% for post in site.posts %}
          <div class="post pure-g">
            <div class="post_header pure-u-1">
              <div class="post_date">{{ post.date | date: "%b %-d, %Y" }}</div>
              <h1 class="post_title">{{ post.title }}</h1>
            </div>
            <div class="post_content pure-u-1">
              {{ post.content }}
            </div>
          </div>
        {% endfor %}

      {% include footer.html %}
    </div>    
  </body>
</html>