<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="wrapper" class="pure-g">
      {% include header.html %}
    
      <div class="page-content pure-g">
        <div class="wrap pure-u-1">
          <h1 class="post_title">{{ page.title }}</h1>
          <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </div>
        <div class="wrap pure-u-1">
        {{ content }}
        </div>
      </div>
    
    
    </div>
    
  </body>
</html>